.comment-wrapper {
    max-width: 700px;
    margin: 2rem auto;
    padding: 16px;
    border: 1px solid #d1d5db;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
  }
  
  .comment-input {
    width: 100%;
    border: none;
    font-size: 14px;
    outline: none;
    color: #333;
    margin-bottom: 10px;
  }
  
  .action-btn {
    background-color: #f3f4f6;
    border: none;
    padding: 6px 14px;
    border-radius: 9999px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .action-btn:hover,
  .icon-btn:hover,
  .submit-btn:hover {
    background-color: #e5e7eb;
  }
  
  .icon-btn {
    background-color: #f3f4f6;
    border: none;
    padding: 6px 12px;
    border-radius: 9999px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .submit-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
  }
  .avatar {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
}

.comment-body {
  flex: 1;
}

.comment-name {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #111827;
  margin-bottom: 4px;
}

.comment-text {
  font-size: 14px;
  color: #374151;
  margin: 0;
}
  